.App-logo {
  animation: App-logo-spin infinite 10s linear;
  pointer-events: none;
}


.App-logo-thinking {
    animation:
        change-background infinite 1s linear,
        App-logo-spin infinite 10s linear;
    pointer-events: none;
}

.svgscale {
    height: 20vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes change-background {
  0% { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}